In [1]:
# Import Libraries
import sqlite3
import pandas as pd

# Create database
db = sqlite3.connect("transactions.db")

In [2]:
# Connect to database
con = sqlite3.connect("/Users/DJ/E-Commerce-Recommendations/transactions.db")

In [3]:
# Load txt files into pandas and separate columns
adhesiveSealantTrans = pd.read_csv("/Users/DJ/E-Commerce-Recommendations/e-comm-data/Transactions with A&S.txt",sep='\t', header=0)
allTransaction = pd.read_csv("/Users/DJ/E-Commerce-Recommendations/e-comm-data/All Transations - 2 Weeks.txt", sep='\t', header=0)

In [4]:
# Check dataframes
adhesiveSealantTrans.head(5)

,order_number,l1,l2,l3,sku,brand
0,1182478,"Adhesives, Sealants and Tape",Putties,Putties,122821,2180
1,63908,"Adhesives, Sealants and Tape",Caulks,Caulks and Sealants,276172,1054
2,1165840,"Adhesives, Sealants and Tape",Concrete and Asphalt,Concrete Cleaners and Sealers,110119,4326
3,928748,Material Handling,Casters and Wheels,Plate Casters,71052,1793
4,1088891,"Adhesives, Sealants and Tape",Glues and Cements,Retaining Compounds,251285,2515

In [5]:
allTransaction.head(5)

,order_number,l1,l2,l3,sku,brand
0,168266,Power Tools,Power Saws and Accessories,Reciprocating Saw Blades,265105,2768
1,123986,Safety,Spill Control Supplies,Temporary Leak Repair,215839,586
2,158978,Hardware,Door Hardware,Thresholds,284756,1793
3,449035,"Electronics, Appliances, and Batteries",Batteries,Standard Batteries,12579,1231
4,781232,Motors,General Purpose AC Motors,General Purpose AC Motors,194681,2603

In [6]:
# Move dataframes to sql tables in transactions.db
adhesiveSealantTrans.to_sql("aNs_transactions", con, if_exists="replace", index=False)
allTransaction.to_sql("all_trans", con, if_exists="replace", index=False)

In [7]:
# See what sells the most with adhesives and sealants, top 30 to find 3 different complement categories
pd.read_sql_query("SELECT l1,l2, l3, COUNT (*) FROM ans_transactions GROUP BY sku ORDER BY COUNT(*) DESC LIMIT 30;", con)

# Batteries are the most sold sku that are not in adhesives and sealants category, followed by hand wipes, gloves, and 
# paper towels. This makes batteries, cleaning supplies, and safety items the most purchased complements.

,l1,l2,l3,COUNT (*)
0,"Adhesives, Sealants and Tape",Tapes,Electrical Tapes,33186
1,"Electronics, Appliances, and Batteries",Batteries,Standard Batteries,20845
2,"Electronics, Appliances, and Batteries",Batteries,Standard Batteries,18142
3,"Adhesives, Sealants and Tape",Thread and Gasket Sealants,Pipe Sealant Tape,10161
4,"Adhesives, Sealants and Tape",Tapes,Duct and Cloth Tapes,9364
5,"Adhesives, Sealants and Tape",Tapes,Duct and Cloth Tapes,7910
6,"Adhesives, Sealants and Tape",Thread and Gasket Sealants,Pipe Sealant Tape,7609
7,"Adhesives, Sealants and Tape",Tapes,Electrical Tapes,7060
8,"Electronics, Appliances, and Batteries",Batteries,Standard Batteries,6771
9,"Adhesives, Sealants and Tape",Tapes,Electrical Tapes,6494
10,"Adhesives, Sealants and Tape",Thread and Gasket Sealants,Pipe Sealant Tape,6266
11,"Adhesives, Sealants and Tape",Thread and Gasket Sealants,Threadlockers,5930
12,"Adhesives, Sealants and Tape",Tapes,Electrical Tapes,5753
13,"Electronics, Appliances, and Batteries",Batteries,Standard Batteries,5671
14,"Electronics, Appliances, and Batteries",Batteries,Standard Batteries,5214
15,"Adhesives, Sealants and Tape",Tapes,Duct and Cloth Tapes,5211
16,"Adhesives, Sealants and Tape",Glues and Cements,Spray Adhesives,4945
17,"Adhesives, Sealants and Tape",Tapes,Electrical Tapes,4923
18,"Adhesives, Sealants and Tape",Tapes,Electrical Tapes,4871
19,"Adhesives, Sealants and Tape",Tapes,Electrical Tapes,4513
20,"Adhesives, Sealants and Tape",Tapes,Electrical Tapes,4276
21,"Adhesives, Sealants and Tape",Tapes,Electrical Tapes,4211
22,"Adhesives, Sealants and Tape",Tapes,Masking Tapes,3945
23,Cleaning,Rags and Wipes,Body and Hand Wipes,3744
24,"Adhesives, Sealants and Tape",Thread and Gasket Sealants,Threadlockers,3660
25,Safety,Gloves and Hand Protection,Disposable Gloves,3598
26,Cleaning,Paper Products and Dispensers,"Paper Towels, Rolls",3323
27,Safety,Eye Protection and Accessories,Lens Cleaning Stations,3297
28,Safety,Traffic Safety,"Barrier, Flagging and Underground Tapes",3294
29,"Adhesives, Sealants and Tape",Glues and Cements,Epoxy,3251

In [8]:
# See what are top 10 items in ALL transactons
pd.read_sql_query("SELECT l1,l2, l3, COUNT (*) FROM all_trans GROUP BY sku ORDER BY COUNT(*) DESC LIMIT 10;", con)

# Batteries are most sold item, followed by paper cleaning products and air filters

,l1,l2,l3,COUNT (*)
0,"Electronics, Appliances, and Batteries",Batteries,Standard Batteries,9234
1,"Electronics, Appliances, and Batteries",Batteries,Standard Batteries,7408
2,Safety,Footwear and Footwear Accessories,Socks,5721
3,Cleaning,Paper Products and Dispensers,"Paper Towels, Rolls",4965
4,"Electronics, Appliances, and Batteries",Batteries,Standard Batteries,4210
5,HVAC and Refrigeration,Air Filters,Pleated Air Filters,3261
6,HVAC and Refrigeration,Air Filters,Pleated Air Filters,3169
7,Cleaning,Paper Products and Dispensers,Toilet Paper,2955
8,HVAC and Refrigeration,Air Filters,Pleated Air Filters,2933
9,"Electronics, Appliances, and Batteries",Batteries,Standard Batteries,2831

In [9]:
# Check for missing data
pd.read_sql_query("SELECT * FROM aNs_transactions WHERE (l1 IS NULL OR l2 IS NULL OR l3 IS NULL OR sku IS NULL OR brand IS NULL);", con)

#There is no null data in aNS_transactions

Empty DataFrame
Columns: [order_number, l1, l2, l3, sku, brand]
Index: []

In [10]:
# Check all_trans for missing data
pd.read_sql_query("SELECT * FROM all_trans WHERE (l1 IS NULL OR l2 IS NULL OR l3 IS NULL OR sku IS NULL OR brand IS NULL);", con)

# There is no null data

Empty DataFrame
Columns: [order_number, l1, l2, l3, sku, brand]
Index: []

In [ ]:
# Which order numbers are in both tables?
pd.read_sql_query("SELECT * FROM all_trans JOIN aNs_transactions ON all_trans.order_number = aNs_transactions.order_number GROUP BY all_trans.order_number;", con)

In [30]:
pd.read_sql_query("SELECT COUNT(DISTINCT order_number) AS unique_orders FROM ans_transactions;", con)

   unique_orders
0         479917